#main-div{
    height: 85vh;
    display: flex;
}

main{
    width: max-content;
    margin: auto;
}

#signup-form{
    border: 4px solid rgba(0, 114, 176, 0.696);
    border-radius: 7px;
    text-align: center;
    padding:10px;
}

#page-purpose {
    text-decoration: underline;
    text-align: center;
}
#existing-user{
    text-align: center;
}
#login-link{
    text-decoration: none;
}
#login-link:hover{
    text-decoration: underline;
}

